:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway;
  /* bg-colors */
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #f5f4fa;
  --secondary-dark-bg: #2f303a;
  /* text-colors */
  --primary-dark-text: #212121;
  --secondary-dark-text: #757575;
  --secondary-blue-text: #2196f3;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  background-color: var(--primary-light-bg);
  color: var(--primary-dark-text);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-box {
  display: flex;
  align-items: center;
}
/* header logo */
.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-blue-text);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-studio {
  color: var(--primary-dark-text);
}
/* header site-nav*/

.site-nav {
  display: flex;
  align-items: center;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin: 0;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-dark-text);
  text-decoration-line: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--secondary-blue-text);
}
/* header auth-nav */

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.auth-item {
  margin-right: 50px;
}

.auth-item:last-child {
  margin: 0;
}

.auth-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-text);
  text-decoration-line: none;
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--secondary-blue-text);
}
/* main-hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-dark-bg);
}
.hero-title {
  text-align: center;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-light-bg);
}
.hero-button {
  display: block;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  margin-top: 30px;

  background-color: var(--secondary-blue-text);
}
.hero-btn {
  color: var(--primary-light-bg);
}
/* main-specifics */

.specifics-item {
  margin-left: 30px;
}
.specifics-item:first-child {
  margin: 0;
}

.specifics-list {
  display: flex;
  align-items: center;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-dark-text);
}
.specifics-text {
  text-align: left;
  width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-text);
}
/* main-work */
.work {
  padding-top: 0px;
}

.work-list {
  display: flex;
  align-items: center;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.work-item {
  margin-right: 30px;
}
.work-item:last-child {
  margin: 0;
}

.work-title {
  display: block;
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-dark-text);
}
/* main-team */
.team {
  background-color: var(--secondary-light-bg);
}

.team-item {
  margin-right: 30px;

  background-color: var(--primary-light-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin: 0;
}

.team-list {
  display: flex;
  align-items: center;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.team-title {
  display: block;
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-dark-text);
}
.team-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-dark-text);
}
.team-text {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-text);
}

.team-page {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-dark-bg);
}
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-blue-text);
  text-decoration: none;
}
.footer-studio {
  color: var(--primary-light-bg);
}
.footer-contacts {
  list-style-type: none;
  font-style: normal;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-item {
  margin-top: 9px;
}
.footer-item:first-child {
  margin: 0;
}

.footer-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-light-bg);
  text-decoration: none;
}
.footer-map:hover,
.footer-map:focus {
  color: var(--secondary-blue-text);
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--secondary-blue-text);
}
/* portfolio */
/* portfolio */
/* portfolio */
.portfolio {
  background-color: var(--primary-light-bg);
}
.button-list {
  display: flex;
  justify-content: center;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.btn-item {
  display: block;
  margin-right: 8px;
  align-items: center;
}
.btn-item:last-child {
  margin: 0;
}

.pointer {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  max-width: 150px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--secondary-light-bg);
}
.pointer:hover {
  background-color: var(--secondary-blue-text);
  color: var(--primary-light-bg);
}
.pointer:active {
  color: var(--primary-light-bg);
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: calc(-1 * 15px);

  list-style-type: none;
  padding-left: 0;
}

.portfolio-item {
  margin: 15px;
}

.portfolio-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-tatle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-text);
}
